branches:
  only:
    - master

language: scala

jdk:
- oraclejdk8

scala:
- 2.11.7

cache:
  sudo: false
  directories:
  - $HOME/.ivy2/cache
  - $HOME/.sbt/boot/

after_success:
- 'sbt publish'

env:
  global:
  - secure: "XKUEPePt2jr2RyyxaQp+jDedCAQH0F50E0E/IQyLtGhFamzKFAt3be0Rv8pF59gPlo+tcH5c1yBpbYG45IvVXEz37Go5Vvv07GzIhhMaywkWymwmeIw1rLs6wcr6HflEldy83nRcQ+GNBjKjkId+Uo0W29puroSvG1K3PPCucAW4fv1d5/9B2czaJQYZgvgC/uZTLm3rYyXOezpG/P+a3v5zC7PdBkIaE8GfFiELa1GlsehveCAF/KcdYnR2vFd6hoE8CGgVEU1uLJVmdiNTEzSqndaanFSB2WastrGbzwPW1Uhebh/5UD5gWYoCf1yTN+IIBh66AWbDA5+urqCGLTIA4+Y3tB2WlCpepGaqhSKCBfHiJfZOxg0c7PYf8FD0Zdkz2yWjvm8UnskMILfUdX/SrYQ/OQO3K9Owm4uhLOzupFFn3x68PnUpYSTiq9K7VsrF+4UTrmWFYMS/p0PUtSz7PuETaCvMtZLD3kTRkwtt/4uSYXeo7DO4cHPtrtKZqv4NrZFdkBpwaVC2uOZrRN9Mqoqhxs8zdFdV4hSQMDCFsfevgtCsxP8Wrr/7pHA9pEt0ipRlBTbugQJM735SwuFKKCZzXkhrvE+uZwJfv1CVvj70gRwBYdpMA9DIQdd6iNNwT1GnC9WenmOXNR+LZPKIPS80sEuXtUAQsiYAL1U="
  - secure: "G16AiRbZc1hhLRqtg7WQkegucPWF5ljHff4Z7XcolRYUyjC5uHfXO+eFqmMuwnn2/2dY16O2HdMxsT69TEbe+xi6YCGmFXQSM6MMN6IQArKpZly6YNMW41Pkl7KQtDn+0pTD0kfqufPxKU8hnj6E2so+iZ/A9zR4ccrj4iYI8ZsTCRhMQ+yHm6xU+jkcKWHSbK94zyIgOdZsMqMb1PLVePdXNcg1Bwe79JLRtHTLUQGLtrJomS5y/i6Z8sEXHpRIZ1HkyvYRiMtRtT1862IAroOdwemOch75YoUK4T2AaJ3mT1uJFe3PDlnDH0Poj/vFM4Nl4SgdGwvybwlZ3vOtjy71FbrxR+R7Xjsw/hVx4iVWQuq17wAc5hKqGbsN4OWYKdu8S1pr6FKKaDqlVMG8WjSnK4GpXJtSW2+BhmJhUG1aswfaQtv5vFAJjGC7ICDjQGcnaXc38s83akcUl+YnFL/GWfNkntqFV9XOwBms9As3qT3HHHf5/5JKitDQXUYZBi5BBWXUuOAeZcrDl8QpcvnaaVwzDjMAyLa9irOo5nB28Qg7yBLGnfuIwfbYA/SSRYI6rIEF4NSMcMzj2BxaJRDRrC3gK3av0CyNai3EOA0465kT/DuRCp6ov25szioYNmUV53Ypm9558xQ6xirOa5wJR1giCRZ4L7F19nFoOv0="
